/* General Applications*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior:smooth;
}
.invisible
{
    visibility: hidden;
}
#start
{
    position: absolute;
    object-fit: cover;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    font-family: Copperplate, Papyrus, fantasy;
    font-size: 50px;
    font-weight: 700;

    cursor: pointer;
    color: #343038;
    background-color: transparent;
    border: 2px solid #343038;
    border-radius: 20px; 
}
#start:hover
{
    opacity: 50%;
    color:rgb(44, 12, 32);
    border: 1px solid rgb(44, 12, 32);  
    color: #343038 !important; 
}
body
{
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
}
/*Everything for the animated section, including buttons*/
header
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo
{
    font-family: Copperplate, Papyrus, fantasy;
    color: #343038;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*Creating the buttons section for navigation*/
header #nav{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header #nav li{
    list-style: none;
    margin-left: 30px;
}
header #nav li .buttons
{
    font-family: Copperplate, Papyrus, fantasy;
    text-decoration: none;
    padding: 6px 15px;
    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
    color: #343038;

    background-color: transparent;
    
    border-color:transparent;
    border-radius: 10px; 
}
header #nav li .buttons:hover , 
header #nav li .buttons.active
{
    background: #fff;
    color: #343038 !important; 
}
/*Editting Images*/
#pics
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
}
#pics img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#sun
{
    left: 25%;
    width: 50%;
    height: 50%;
    /*mix-blend-mode: screen;*/
    z-index: -1;
}
#stars
{
    z-index: -2;
}
#bGround
{
    z-index: -10;
    filter:brightness(70%);
}

/*Text block, split into three for side borders*/
#mainRow {
    background-color: #1d151f;
    display: table;
    width: 100%; /*Optional*/

}
.Column {
    display: table-cell;
}
#sec
{
    display: table-cell;
    z-index: 1000;
    color: rgb(255,255,255);
    padding:100px; 
}
#pics::before
{
    left: 0;
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #1d151f, transparent);
    z-index: 999;
}
